// ============================================================================
// TDesign <t-dialog> 全局覆盖样式
// ----------------------------------------------------------------------------
.t-dialog--default {
  padding: 18px 16px;
}

.t-dialog__body {
  padding: 0;
}

// ============================================================================
// TDesign <t-textarea> 全局覆盖样式
// ----------------------------------------------------------------------------
.t-textarea__inner:focus {
  box-shadow: none;
}

// DislikeFeedbackDialog
.dislike-feedback-dialog {
  .t-dialog {
    background-color: #fafafa;
  }
}